.lineChart{
    width: 277.5px;
    height: 277.5px;
    border-radius: var(--borderRadius);
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(39, 45, 59, 0.2) ;
}
.title{
    font-size: var(--fontSize-26);
    font-weight: bold;
    color: #272D3B;
    margin-top: 35px;
    margin-left: 16px;
    float: left;
}
.icon{
    position: relative;
    left: 160px;
    top: 35px;
    cursor: pointer;
}
#chart{
    margin-left: 25px;
}