.mainContent{
    display: flex;
    justify-content: left;
   
    
}
.leftSide{
    flex-direction: column;
   
}
.rightSide{
    flex-direction: column;
}

.folderHorisontalLineChart{
    width: 788px;
    height: 276px;
    border-radius: var(--borderRadius);
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(39, 45, 59, 0.2) ;
   
    margin-right: 65.5px;
    margin-left: 46.5px;
    margin-top: 45px;
}
.folderOrderList{
    width: 788px;
    height: 276px;
    border-radius: var(--borderRadius);
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(39, 45, 59, 0.2) ;
    margin-right: 65.5px;
    margin-left: 46.5px;
    margin-top: 62px;
    overflow: scroll;
    overflow-x: hidden; 
    
}
.folderTabl{
    margin-left: 23px;
    margin-top: 14.6px;
    
}

.upComingWidget{
    width: 277px;
    height: 277px;
    border-radius: var(--borderRadius);
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(39, 45, 59, 0.2) ;

    margin-top: 45px;
}

.totalSystemWidget{
    width: 277px;
    height: 277px;
    border-radius: var(--borderRadius);
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(39, 45, 59, 0.2) ;
   
    margin-top: 60px;

} 

#chart {
    width: 730px;
    margin: 25.5px;
  }
  
  .upComing{
      display: flex;
      justify-content:left;
      padding-top: 25.5px;
      padding-left: 11.5px;
      padding-right: 23px;
  }
  .upComingText{
   
    font-size: var(--fontSize-26);
    font-weight: bold;
    margin-right: 82px;
   
    
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown {
   
    cursor: pointer;
  }
  .todayText{
    font-size: var(--fontSize-16);
    font-weight: 500;
    margin-right: 10px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    width: 100px;
  }
  .dropDownText{
    font-size: var(--fontSize-16);
    font-weight: 400;
    
  }

  .teamMeeting1{
      display: flex;
      justify-content: left;
      margin-left: 12px;
      margin-top: 12px;
      margin-bottom: 2px;
  }

  .teamMeetingIcon{
      margin-right: 12px;
  }
  .teamMeetingTexts{
      margin-top: 3px;
  }
  .teamMeetingText1{
      font-size: var(--fontSize-22);
      font-weight: bold;
      color: #272D3B;
      margin-bottom: 1px;
  }
  .teamMeetingText2{
    font-size: var(--fontSize-18);
      font-weight:500;
      color: #272D3B;
      margin-left: 5px;
  }

  .UpcomingRootingIcon{
      float: right;
      margin-right: 12px;
     margin-top: -5px;
      cursor: pointer;
  }

  .titleAndButtons{
      display: flex;
      justify-content: space-between;
      padding-top: 24px;
      padding-left: 23px;
      padding-right: 23px;
  }
  .orderListTitle{
    font-size: var(--fontSize-26);
      font-weight: bold;
  }
  .orderlistButtons{
      display: flex;
      justify-content: left;
      
  }
  .button1{
      width: 80px;
      height: 29px;
      background-color: #00CCF2;
      display: flex;
      justify-content: center;
      border-radius: var(--borderRadius);
      cursor: pointer;
      margin-right: 12px;
  }

  .button1 button{
    color: #F5FBFF;
    font-size: var(--fontSize-16);
    font-weight: 600;
    cursor: pointer;
    
  }

  .button2{
    width: 102px;
    height: 29px;
    background-color: #00CCF2;
    display: flex;
    justify-content: center;
    border-radius: var(--borderRadius);
    cursor: pointer;
}
.button2 button{
    color: #F5FBFF;
    font-size: var(--fontSize-16);
    font-weight: 600;
    cursor: pointer;
    
  }
 /* tablo ile ilgili kodları yukarı ekle */
.totalSystemWidget{
    width: 277px;
    height: 277px;
   
}

 .totalSystemTitleandIcon{
     display: flex;
     justify-content: space-between;
     padding-top: 25.5px;
     padding-left: 12px;
     padding-right: 12px;  
 }

 .TotalSystemText{
     font-size: var(--fontSize-26);
     font-weight: bold;
     color: #272D3B;
 }