<div class="mainContent">
   <div class="leftSide">
    <div class="folderHorisontalLineChart">
        <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [dataLabels]="chartOptions.dataLabels"
              [grid]="chartOptions.grid"
              [stroke]="chartOptions.stroke"
              [title]="chartOptions.title"
              [markers]="chartOptions.markers"
              [yaxis]="chartOptions.yaxis"
              [fill]="chartOptions.fill"
            ></apx-chart>
          </div>
          
    </div>
    <div class="folderOrderList">
        
        <div class="titleAndButtons">
            <div class="orderListTitle">
              {{"folderComponent.title" |translate}}
            </div>
            <div class="orderlistButtons">
                <div class="button1">
                    <button>{{"folderComponent.button1" |translate}}</button> 
                </div>
                <div class="button2">
                   <button>{{"folderComponent.button2" |translate}}</button>
                </div>
            </div>

        </div>
        <!-- Table Area -->
        <div class="folderTabl">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked> INVOICE</th>
                    <th scope="col">{{"folderComponent.tableCustomerText" |translate |uppercase}}</th>
                    <th scope="col">{{"folderComponent.tableDateText" |translate |uppercase}}</th>
                    <th scope="col">{{"folderComponent.tableAmountText" |translate |uppercase}}</th>
                    <th scope="col">{{"folderComponent.tableStatusText" |translate |uppercase}}</th>
                    <th scope="col">{{"folderComponent.tableTrackingText" |translate |uppercase}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> 003452</th>
                    <td>{{"folderComponent.rowCompanyName" |translate}}</td>
                    <td>{{"folderComponent.rowDate" |translate}}</td>
                    <td>$200.00</td>
                    <td>{{"folderComponent.rowStatus1" |translate}}</td>
                    <td>IN332942</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="6" height="24" viewBox="0 0 6 24">
                        <g id="Group_71" data-name="Group 71" transform="translate(-350 -23)">
                          <circle id="Ellipse_23" data-name="Ellipse 23" cx="3" cy="3" r="3" transform="translate(350 23)" fill="#272d3b"/>
                          <circle id="Ellipse_24" data-name="Ellipse 24" cx="3" cy="3" r="3" transform="translate(350 32)" fill="#272d3b"/>
                          <g id="Group_70" data-name="Group 70">
                            <path id="Path_121" data-name="Path 121" d="M3,0A3,3,0,1,1,0,3,3,3,0,0,1,3,0Z" transform="translate(350 41)" fill="#272d3b"/>
                          </g>
                        </g>
                      </svg>
                      
                      </td>
                  </tr>
                  <tr>
                    <th scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> 003452</th>
                    <td>{{"folderComponent.rowCompanyName" |translate}}</td>
                    <td>{{"folderComponent.rowDate" |translate}}</td>
                    <td>$1200.00</td>
                    <td>{{"folderComponent.rowStatus1" |translate}}</td>
                    <td>IN332942</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="6" height="24" viewBox="0 0 6 24">
                        <g id="Group_71" data-name="Group 71" transform="translate(-350 -23)">
                          <circle id="Ellipse_23" data-name="Ellipse 23" cx="3" cy="3" r="3" transform="translate(350 23)" fill="#272d3b"/>
                          <circle id="Ellipse_24" data-name="Ellipse 24" cx="3" cy="3" r="3" transform="translate(350 32)" fill="#272d3b"/>
                          <g id="Group_70" data-name="Group 70">
                            <path id="Path_121" data-name="Path 121" d="M3,0A3,3,0,1,1,0,3,3,3,0,0,1,3,0Z" transform="translate(350 41)" fill="#272d3b"/>
                          </g>
                        </g>
                      </svg>
                      </td>
                  </tr>
                  <tr>
                    <th scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> 003452</th>
                    <td>{{"folderComponent.rowCompanyName" |translate}}</td>
                    <td>{{"folderComponent.rowDate" |translate}}</td>
                    <td>$900.00</td>
                    <td>{{"folderComponent.rowStatus2" |translate}}</td>
                    <td>IN332942</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="6" height="24" viewBox="0 0 6 24">
                        <g id="Group_71" data-name="Group 71" transform="translate(-350 -23)">
                          <circle id="Ellipse_23" data-name="Ellipse 23" cx="3" cy="3" r="3" transform="translate(350 23)" fill="#272d3b"/>
                          <circle id="Ellipse_24" data-name="Ellipse 24" cx="3" cy="3" r="3" transform="translate(350 32)" fill="#272d3b"/>
                          <g id="Group_70" data-name="Group 70">
                            <path id="Path_121" data-name="Path 121" d="M3,0A3,3,0,1,1,0,3,3,3,0,0,1,3,0Z" transform="translate(350 41)" fill="#272d3b"/>
                          </g>
                        </g>
                      </svg>
                      </td>
                  </tr>
                  <tr>
                    <th scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> 003452</th>
                    <td>{{"folderComponent.rowCompanyName" |translate}}</td>
                    <td>{{"folderComponent.rowDate" |translate}}</td>
                    <td>$2400.00</td>
                    <td>{{"folderComponent.rowStatus2" |translate}}</td>
                    <td>IN332942</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="6" height="24" viewBox="0 0 6 24">
                        <g id="Group_71" data-name="Group 71" transform="translate(-350 -23)">
                          <circle id="Ellipse_23" data-name="Ellipse 23" cx="3" cy="3" r="3" transform="translate(350 23)" fill="#272d3b"/>
                          <circle id="Ellipse_24" data-name="Ellipse 24" cx="3" cy="3" r="3" transform="translate(350 32)" fill="#272d3b"/>
                          <g id="Group_70" data-name="Group 70">
                            <path id="Path_121" data-name="Path 121" d="M3,0A3,3,0,1,1,0,3,3,3,0,0,1,3,0Z" transform="translate(350 41)" fill="#272d3b"/>
                          </g>
                        </g>
                      </svg>
                      </td>
                  </tr>
                  <tr>
                    <th scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> 003452</th>
                    <td>{{"folderComponent.rowCompanyName" |translate}}</td>
                    <td>{{"folderComponent.rowDate" |translate}}</td>
                    <td>$600.00</td>
                    <td>{{"folderComponent.rowStatus1" |translate}}</td>
                    <td>IN332942</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="6" height="24" viewBox="0 0 6 24">
                        <g id="Group_71" data-name="Group 71" transform="translate(-350 -23)">
                          <circle id="Ellipse_23" data-name="Ellipse 23" cx="3" cy="3" r="3" transform="translate(350 23)" fill="#272d3b"/>
                          <circle id="Ellipse_24" data-name="Ellipse 24" cx="3" cy="3" r="3" transform="translate(350 32)" fill="#272d3b"/>
                          <g id="Group_70" data-name="Group 70">
                            <path id="Path_121" data-name="Path 121" d="M3,0A3,3,0,1,1,0,3,3,3,0,0,1,3,0Z" transform="translate(350 41)" fill="#272d3b"/>
                          </g>
                        </g>
                      </svg>
                      </td>
                  </tr>
                  <tr>
                    <th scope="row"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> 003452</th>
                    <td>{{"folderComponent.rowCompanyName" |translate}}</td>
                    <td>{{"folderComponent.rowDate" |translate}}</td>
                    <td>$1600.00</td>
                    <td>{{"folderComponent.rowStatus2" |translate}}</td>
                    <td>IN332942</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="6" height="24" viewBox="0 0 6 24">
                        <g id="Group_71" data-name="Group 71" transform="translate(-350 -23)">
                          <circle id="Ellipse_23" data-name="Ellipse 23" cx="3" cy="3" r="3" transform="translate(350 23)" fill="#272d3b"/>
                          <circle id="Ellipse_24" data-name="Ellipse 24" cx="3" cy="3" r="3" transform="translate(350 32)" fill="#272d3b"/>
                          <g id="Group_70" data-name="Group 70">
                            <path id="Path_121" data-name="Path 121" d="M3,0A3,3,0,1,1,0,3,3,3,0,0,1,3,0Z" transform="translate(350 41)" fill="#272d3b"/>
                          </g>
                        </g>
                      </svg>
                      </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
          
          
    </div>
   </div>
   <div class="rightSide">
    <div class="upComingWidget">
        
        <div class="upComing">
            <div class="upComingText">
                {{"upcomingEventComponent.title"|translate}}
            </div>
            
                <div class="dropdown">
                   <span class="todayText">{{"upcomingEventComponent.todayText"|translate}}</span>
                   <svg xmlns="http://www.w3.org/2000/svg" width="18.828" height="10.828" viewBox="0 0 18.828 10.828">
                       <g id="Group_57" data-name="Group 57" transform="translate(17.414 1.414) rotate(90)">
                         <line id="Line_10" data-name="Line 10" x2="8" y2="8" fill="none" stroke="#272d3b" stroke-linecap="round" stroke-width="2"/>
                         <line id="Line_11" data-name="Line 11" y1="8" x2="8" transform="translate(0 8)" fill="none" stroke="#272d3b" stroke-linecap="round" stroke-width="2"/>
                       </g>
                     </svg>
                     
                   <div class="dropdown-content">
                    <div><a class="dropDownText" href="">{{"upcomingEventComponent.dropdownYesterday"|translate}}</a></div> 
                    <div><a class="dropDownText" href="">{{"upcomingEventComponent.dropdownLastWeek"|translate}}</a></div> 
                    <div><a class="dropDownText" href="">{{"upcomingEventComponent.dropdownLastMonth"|translate}}</a></div> 
                   </div>
                 </div>
              
        </div>
        <div class="teamMeeting1">
            <div class="teamMeetingIcon">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                    <g id="Group_201" data-name="Group 201" transform="translate(-1492 -284)">
                      <circle id="Ellipse_38" data-name="Ellipse 38" cx="25" cy="25" r="25" transform="translate(1492 284)" fill="#39d5cf"/>
                      <path id="Icon_ionic-md-calendar" data-name="Icon ionic-md-calendar" d="M23.5,17.5h-6v6h6Zm-2-13v2h-10v-2h-3v2H7A2.507,2.507,0,0,0,4.5,9V26A2.507,2.507,0,0,0,7,28.5H26A2.507,2.507,0,0,0,28.5,26V9A2.507,2.507,0,0,0,26,6.5H24.5v-2ZM26,26H7V12.75H26Z" transform="translate(1500.37 292.5)" fill="#fff"/>
                    </g>
                  </svg>                                   
            </div>
            <div class="teamMeetingTexts">
                <div class="teamMeetingText1">
                  {{"upcomingEventComponent.teamMeeting1"|translate}}
                </div>
                <div class="teamMeetingText2">
                    10 {{"upcomingEventComponent.ampm1"|translate}} - 11 {{"upcomingEventComponent.ampm1"|translate}} 
                </div>
            </div>

        </div>
        <div class="teamMeeting1">
            <div class="teamMeetingIcon">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                    <g id="Group_202" data-name="Group 202" transform="translate(-1492 -284)">
                      <circle id="Ellipse_38" data-name="Ellipse 38" cx="25" cy="25" r="25" transform="translate(1492 284)" fill="#ff007c"/>
                      <path id="Icon_ionic-md-calendar" data-name="Icon ionic-md-calendar" d="M23.5,17.5h-6v6h6Zm-2-13v2h-10v-2h-3v2H7A2.507,2.507,0,0,0,4.5,9V26A2.507,2.507,0,0,0,7,28.5H26A2.507,2.507,0,0,0,28.5,26V9A2.507,2.507,0,0,0,26,6.5H24.5v-2ZM26,26H7V12.75H26Z" transform="translate(1500.37 292.5)" fill="#fff"/>
                    </g>
                  </svg>
                                                 
            </div>
            <div class="teamMeetingTexts">
                <div class="teamMeetingText1">
                  {{"upcomingEventComponent.teamMeeting1"|translate}}
                </div>
                <div class="teamMeetingText2">
                    11 {{"upcomingEventComponent.ampm1"|translate}} - 12 {{"upcomingEventComponent.ampm1"|translate}}
                </div>
            </div>

        </div>
        <div class="teamMeeting1">
            <div class="teamMeetingIcon">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                    <g id="Group_203" data-name="Group 203" transform="translate(-1492 -284)">
                      <circle id="Ellipse_38" data-name="Ellipse 38" cx="25" cy="25" r="25" transform="translate(1492 284)" fill="#7d00b5"/>
                      <path id="Icon_ionic-md-calendar" data-name="Icon ionic-md-calendar" d="M23.5,17.5h-6v6h6Zm-2-13v2h-10v-2h-3v2H7A2.507,2.507,0,0,0,4.5,9V26A2.507,2.507,0,0,0,7,28.5H26A2.507,2.507,0,0,0,28.5,26V9A2.507,2.507,0,0,0,26,6.5H24.5v-2ZM26,26H7V12.75H26Z" transform="translate(1500.37 292.5)" fill="#fff"/>
                    </g>
                  </svg>
                                                 
            </div>
            <div class="teamMeetingTexts">
                <div class="teamMeetingText1">
                  {{"upcomingEventComponent.meetWithClient"|translate}}
                </div>
                <div class="teamMeetingText2">
                    2 {{"upcomingEventComponent.ampm2"|translate}} - 3 {{"upcomingEventComponent.ampm2"|translate}}
                </div>
            </div>

        </div>
       
        <div class="UpcomingRootingIcon">
            <svg id="More_Button" data-name="More Button" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                <circle id="Ellipse_40" data-name="Ellipse 40" cx="20" cy="20" r="20" fill="#00ccf2"/>
                <g id="Group_72" data-name="Group 72" transform="translate(-818.715 317.778) rotate(-45)">
                  <line id="Line_1" data-name="Line 1" x1="14.45" transform="translate(796.55 382)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
                  <line id="Line_2" data-name="Line 2" x2="6" y2="6" transform="translate(805 376)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
                  <line id="Line_3" data-name="Line 3" y1="6.157" x2="5.257" transform="translate(805.743 382)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
                </g>
              </svg>
              
        </div>
    </div>
    <div class="totalSystemWidget">
        <div class="totalSystemTitleandIcon">
            <div class="TotalSystemText">
                {{"totalSystemChartComponent.title"|translate}}
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="24" viewBox="0 0 6 24">
                    <g id="Group_96" data-name="Group 96" transform="translate(-350 -23)">
                      <circle id="Ellipse_23" data-name="Ellipse 23" cx="3" cy="3" r="3" transform="translate(350 23)" fill="#272d3b"/>
                      <circle id="Ellipse_24" data-name="Ellipse 24" cx="3" cy="3" r="3" transform="translate(350 32)" fill="#272d3b"/>
                      <g id="Group_70" data-name="Group 70">
                        <path id="Path_121" data-name="Path 121" d="M3,0A3,3,0,1,1,0,3,3,3,0,0,1,3,0Z" transform="translate(350 41)" fill="#272d3b"/>
                      </g>
                    </g>
                  </svg>
                  
                
            </div>
        </div>
        <div>
            <!-- chart Area -->
           
<app-total-system-chart></app-total-system-chart>
  
        </div>
    </div>
   </div>
    
</div>