.horisontalLineChart{
    width: 540px;
    height: 380px;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(39, 45, 59, 0.2) ;
    float: left;
    margin-right: 60px;
    margin-left: 32px;
    margin-top: -85px;
}
.title{
    font-size: 26px;
    font-weight: bold;
    color: #272D3B;
    margin-top: 35px;
    margin-left: 16px;
    float: left;
}
.icon{

    position: relative;
    left: 360px;
    top: 35px;
}