#chart {
  width: 329px;
 
  height: 100px;
}
.pinkBackround{
  display: flex;
  width: 380px;
  height: 200px;
  border-radius: 20px;
  background-color: #FF007C;
  
  box-shadow: 0 3px 6px rgba(39, 45, 59, 0.2) ;


  
  
}
.thisMonth{
  position: relative;
  top: 20px;
  left: 32px;
  width: 329px;
  display: flex;
  
}
.number{
  font-size: 28px;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 5px;
  width: 100px;
}
.text{
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
  width: 100px;
  
}

.icon{
  margin-left: 200px;
  margin-top: 15px;
 
}