#chart{
  height: 50px;
  width:20px,
}
.pinkBackround{
  display: flex;
  width: 292px;
  height: 146px;
  border-radius: var(--borderRadius);
  background-color: #FF007C;
  box-shadow: 0 3px 6px rgba(39, 45, 59, 0.2) ;

}
.thisMonth{
  position: relative;
  top: 35px;
  left: 23.36px;
  width: 249px;
  display: flex;
  
}
.number{
  font-size: var(--fontSize-20);
  font-weight: bold;
  color: #FFF;
  margin-bottom: 5px;
  width: 65px;
}
.text{
  font-size: 10px;
  font-weight: 500;
  color: #FFF;
  width: 100px;
}

.icon{
  margin-left: 146px;
  cursor: pointer;
}

@media only screen and (max-width: 1411px) {
 
  .pinkBackround{
    display: flex;
    width: 400px;
    height: 146px;
    border-radius: var(--borderRadius);
    background-color: #FF007C;
    box-shadow: 0 3px 6px rgba(39, 45, 59, 0.2) ;
  
  }
  .thisMonth{
    position: relative;
    top: 35px;
    left: 23.36px;
    width: 400px;
    display: flex;
    
  }
  .number{
    font-size: var(--fontSize-20);
    font-weight: bold;
    color: #FFF;
    margin-bottom: 5px;
    width: 60px;
  }
  .text{
    font-size: 10px;
    font-weight: 500;
    color: #FFF;
    width: 100px;
    
  }
  
  .icon{
    margin-left: 250px;
    cursor: pointer;
  }
}