.calendarWitget{
    display: flex;
    width: 380px;
    height: 492px;
    border-radius: 20px;
    background-color: #FFF;
   
    box-shadow: 0 3px 6px rgba(39, 45, 59, 0.2) ;
  
  

    

}
.demo-inline-calendar-card {
    width: 370px;
    padding: 5px;
    box-shadow: none;
  }
  .title{
    font-size: 26px;
    font-weight: bold;
    color: #272D3B;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
