.titleText{
    padding-top: 24px;
    color: #272D3B ;
    font-size: var(--fontSize-36);
    font-weight: 700;
    float: left;
    width: fit-content;
    margin-bottom: 21px;
}

.welcomeArea{
    background-color:#fff;
    width: 715px;
    height: 146px;
    float: left;
    box-shadow: 0 3px 6px rgba(39, 45, 59, 0.2) ;
    border-radius: var(--borderRadius)
}
.welcomeBack{
    margin-top: 20px;
    margin-left: 32px;
    margin-right: 50px;
    
    font-size: var(--fontSize-20);
    font-weight: bold;
    float: left;
}

.subText{
    margin-top: 10px; 
}
.subText1{
    list-style-image: url(/assets/icons/Ellipse-180.png);
    font-weight: 500;

}
.subText1Li{
   
    
    font-size: var(--fontSize-14);
    font-weight: 500;
}
.welcomeImg{
    float: right;
    position: relative;
    width: 191px;
    bottom: 25px;
    margin-right: 50px;

}