<div class="titleText">
    <div >
        Dashboard
    </div>
</div>
<div class="welcomeArea">
<div class="welcomeBack">
    Welcome Back 
    <div class="subText">
        <ul class="subText1">
           <span style="font-size: 16px;">Since your last login on the system, there were:</span> 
            <li class="subText1Li">21 new charts</li>
            <li class="subText1Li">15 new reports</li>
            <li class="subText1Li">45 new messages</li>
        </ul>
    </div>
</div>
<div>
    <img class="welcomeImg" src="/assets/icons/undraw_file_analysis_8k9b.png" alt="">
</div>
</div> 