<div class="titleText">
    <div >
        <h1>
             {{'welcomeBackComponent.title' | translate}}
        </h1>
       
    </div>
</div>
<div class="welcomeArea">
<div class="welcomeBack">
    {{'welcomeBackComponent.title1' | translate}}
    <div class="subText">
        <ul class="subText1">
           <span style="font-size: 16px;">{{'welcomeBackComponent.subTitle' | translate}}</span> 
            <li class="subText1Li">{{'welcomeBackComponent.notification1' | translate}}</li>
            <li class="subText1Li">{{'welcomeBackComponent.notification2' | translate}}</li>
            <li class="subText1Li">{{'welcomeBackComponent.notification3' | translate}}</li>
        </ul>
    </div>
</div>
<div>
    <img class="welcomeImg" src="/assets/icons/undraw_file_analysis_8k9b.png" alt="">
</div>
</div> 