.mainContentArea{
    background-color: #fff;
    height: 1080px;
    padding-right: 20x;
    margin-left: 240px;
    width: 1825px;
    display: flex;
    justify-content: left;
    width: 1550px;
    
    
}