.mainContentArea{
    background-color: #fff;
    padding-right: 20x;
    margin-left: 240px;
    
    
}

@media only screen and (max-width:1411px){

    
    .fullScreen{
        
    }
}

@media only screen and (max-width: 1024px){
    .mainContentArea{
       
        
        margin-left: auto;
        
    }
    .fullScreen{
        width: 100vw;
        
    }
}

@media only screen and (max-width: 765px){
    .fullScreen{
        width: 100vw;
        
    }
}