.twoComponent{
    width: 277px;
    float: left;
}
.slimTextWidget{
    width: 277px;
    height: 65px;
    border-radius: var(--borderRadius);
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(39, 45, 59, 0.2) ;
    float: left;
    margin-bottom: 21px;
}
.statusWidget{
    width: 277px;
    height: 117px;
    border-radius: var(--borderRadius);
    background-color: #FFF;
    box-shadow: 0 3px 6px rgba(39, 45, 59, 0.2) ;
    float: left;
}
#More_Button{ 
    position: relative;
    left: 95px;
    top: 15px;
    cursor: pointer;
}
.text1{
    font-size: var(--fontSize-20);
    font-weight: bold;
    color: #272D3B;
    margin-top: 10px;
    margin-left: 23px;
    float: left; 
}
.text2{
    font-size: var(--fontSize-14);
    font-weight: 500;
    color: #272D3B; 
}
#chart{
    float: left;
    width: 175px;
}
.statusText{
    font-size: var(--fontSize-26);
    font-weight: bold;
    margin-top: 20px;
}
.growthText{
    font-size: var(--fontSize-18);
}
.numberText{
    font-size: var(--fontSize-30);
    font-weight: bold;
    margin-top: 10px;
}
.icon{
    position: relative;
    left: 85px;
    bottom: 55px; 
    cursor: pointer;
}