.homeComponent{
    display: flex;
    justify-content:left;
    width: 500px;
    
    
}

.leftColumn{
display: flex;
flex-direction: column;
margin-left: 32px ;
margin-bottom: 17px;
margin-right: 37px;
width: 715px;
}

.chartSide{
    display: flex;
    justify-content:space-between;
    
}

.leftChartSide{
    display: flex;
    flex-direction: column;
}

.leftChart1{
    margin-top: 21px;
}
.leftChart2{
    margin-top: 17px;
}

.rightChartside{
    margin-top: 21px;

    
}

.rightChart1{
margin-bottom: 27px;
}

.rightColumn{
    margin-top: 67px;
    
}
.pinkChart{
    margin-bottom: 18px;
}
.blue-purple-widgets {
display: flex;
justify-content: lef;
clear: left;
margin-bottom: 24px;
}
.blueWidget{
    margin-right: 55px;
    
 }

@media only screen and (max-width: 1412px){
    .homeComponent{
    flex-direction: column;
      margin-left : auto;
      margin-right: 350px;
  
    }

    .rightColumn{ 
        
    }
    .noCallanderGroup{
        display: flex;
        justify-content: left;
        height: 200px;
        
    }
    .pinkChart{
        margin-bottom: 18px;
        margin-right: 37px;
        margin-left: 32px;
        
    }
    .blue-purple-widgets {
    display: flex;
    margin-right: 37px;
    
    margin-bottom: 24px; 
    }
    .blueWidget{
       margin-right: 37px;
    }
    .calenderWidget{
      margin-left: 32px;
      
    }

}

@media only screen and (max-width: 1100px){
    .homeComponent{
        flex-direction: column;
          margin-left : auto;
          margin-right: 350px;
      
        }
    
        .rightColumn{ 
            
        }
        .noCallanderGroup{
            display: flex;
            justify-content: left;
            height: 200px;
            
        }
        .pinkChart{
            margin-bottom: 18px;
            margin-right: 37px;
            margin-left: 32px;
            
        }
        .blue-purple-widgets {
        display: flex;
        margin-right: 37px;
        
        margin-bottom: 24px; 
        }
        .blueWidget{
           margin-right: 37px;
        }
        .calenderWidget{
          margin-left: 32px;
          
        }
    

}

@media only screen and (max-width: 765px){
 
    .homeComponent{
        display: flex;
        flex-direction: column;
        justify-content:left;
        margin-left: 32px;
        width: 80vw;
    }
    
    .leftColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 32px ;
    margin-bottom: 17px;
    margin-right: 37px;
    width: 80vw;
    }
    .chartSide{
        display: flex;
       flex-direction: column;
        
    }
    .rightColumn{
        margin-top: 67px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .noCallanderGroup{
        display: flex;
        flex-direction: column;
        height: fit-content
    }
  
    
    .pinkChart{
        margin-bottom: 18px;
        margin-right: 37px;
        margin-left: 32px;
        
    }
    .blue-purple-widgets {
    display: flex;
    margin-left: 32px;
    
    margin-bottom: 24px; 
    }
    .blueWidget{
       margin-right: 165px;
    }
    .calenderWidget{ 
      margin-left: 32px;
    }
    
}