.homeComponent{
    display: flex;
    justify-content:left;
    
}

.leftColumn{
display: flex;
flex-direction: column;
margin-left: 32px ;
margin-bottom: 17px;
margin-right: 37px;
width: 715px;
}

.chartSide{
    display: flex;
    justify-content:space-between;
    
}

.leftChartSide{
    display: flex;
    flex-direction: column;
}

.leftChart1{
    margin-top: 21px;
}
.leftChart2{
    margin-top: 17px;
}

.rightChartside{
    margin-top: 21px;

    
}

.rightChart1{
margin-bottom: 27px;
}

.rightColumn{
    margin-top: 67px;
    width: 292px;
}
.pinkChart{
    margin-bottom: 18px;
}
.blue-purple-widgets {
display: flex;
justify-content: space-between;
margin-bottom: 24px;
}